.container {
    margin-bottom: 100px;
}

.nav-item:hover {
    background-color: #fceae8;
}


.sp-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.price {
    color: #ff4992;
}

.carousel-item {
    padding: 20px 40px;
}

.buy-now-button {
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    border: none;
}

.ctg1 {
    background-image: linear-gradient(-45deg, rgb(250, 197, 98), orange);
}

.ctg2 {
    background-image: linear-gradient(-45deg, rgb(218, 45, 218), rgb(94, 2, 94));
}

.ctg3 {
    background-image: linear-gradient(-45deg, rgb(72, 72, 235), rgb(5, 5, 129));
}

.ctg1,
.ctg2,
.ctg3 {
    padding: 10px 30px;
    border-radius: 8px;
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 10px lightgray;
}

.card:hover {
    box-shadow: 5px 5px 10px rgb(238, 176, 219);
}


.card-footer {
    background-color: white;
    border-top: none;
}

#subscribe {
    height: 300px;
}

#subscribe h6 {
    color: grey;
}

footer {
    text-align: center;
}